:root {
    --first_color: #041b2d;
    --second_color: #0999e0;
    --third_color: #184b81;
    --fourth_color: #fff;
    --title_font: 'Inclusive Sans', sans-serif;
    --body_font: 'Montserrat', sans-serif;
    --button_font: 'Raleway', sans-serif;
}

main > div.option {
    width: 20rem;
    background-color: var(--second_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 3px 5px 15px var(--second_color);
}

main > div.option:active {
    box-shadow: 3px 5px 15px var(--third_color);
}

main > div.option > img {
    width: 40%;
    margin: 0.6rem;
}

main > div.option > p {
    font-family: var(--title_font);
    font-weight: bold;
    color: var(--first_color);
    font-size: large;
}

.modal {
    position: fixed;
    top: 0%;
    margin: auto;
    background-color: var(--fourth_color);
    width: 100%;
    padding: 1rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    border: 3px solid var(--second_color);
    visibility: hidden;
}

.modal-header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
}

.modal-header > h1 {
    font-family: var(--title_font);
    font-size: xx-large;
    font-weight: lighter;
    margin-bottom: 1.5%;
    color: var(--second_color);
}

.modal-header > button {
    color: var(--third_color);
    background-color: transparent;
    border: 0px none transparent;
    font-size: 1.8em;
    cursor: pointer;
    border-radius: 20%;
    font-weight: lighter;
}

.modal-header > button:active {
    border: 2px solid var(--third_color);
}

.modal > img {
    display: none;
}

.password-generator-modal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
    height: 50%;
}

.password-generator-modal-details form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    margin: 0.3%;
}

.password-generator-modal-details > form > label {
    font-weight: lighter;
    color: var(--third_color);
    font-style: italic;
    text-align: left;
    width: 100%;
}

.password-generator-modal-details .check-options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin: 0.5rem;
}

.password-generator-modal-details .check-options > label {
    color: var(--first_color);
    font-style: italic;
}

.password-generator-modal-details > form > input {
    background-color: transparent;
    border: 1px solid var(--second_color);
    height: 2rem;
    width: 90%;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    color: var(--first_color);
}

.password-generator-modal-details > form > textarea {
    background-color: transparent;
    border: 1px solid var(--second_color);
    height: 2rem;
    width: 90%;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    color: var(--first_color);
}

button {
    background-color: transparent;
    border: 1px solid var(--second_color);
    height: 2rem;
    border-radius: 8px;
    padding: 0rem 1rem;
    color: var(--second_color);
    font-weight: bold;
    font-family: var(--button_font);
    cursor: pointer;
    transition: scale 0.2s ease-in-out;
}

button:hover {
    scale: 1.05;
}

button:focus {
    scale: 1.05;
}

.saved-passwords-modal-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.saved-passwords-modal-details p {
    color: #ff0000;
    font-weight: bold;
    margin: 1rem;
}

.saved-accounts-modal-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.saved-accounts-modal-details p {
    font-weight: bold;
    color: #ff0000;
    margin: 1rem;
}

.authenticator-modal-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.authenticator-modal-details p {
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    margin: 1rem;
}

.account-configs-modal-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.account-configs-modal-details img {
    width: 20%;
    margin: 1rem;
    cursor: pointer;
}

.account-configs-modal-details p {
    text-align: center;
    color: var(--second_color);
    font-weight: bold;
    margin: 0.4rem;
    cursor: pointer;
}

.account-configs-modal-details p:hover {
    text-decoration: underline;
}

.help-center-modal-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.help-center-modal-details p {
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    margin: 1rem;
}
