:root {
    --first_color: #041b2d;
    --second_color: #0999e0;
    --third_color: #184b81;
    --fourth_color: #fff;
    --title_font: 'Inclusive Sans', sans-serif;
    --body_font: 'Montserrat', sans-serif;
    --button_font: 'Raleway', sans-serif;
}

body {
    background-color: var(--fourth_color);
}

main > .option {
    width: 20rem;
    background-color: var(--second_color);
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1rem;
    margin: 1rem;
    border-radius: 20px;
    box-shadow: 3px 5px 15px var(--second_color);
}

main > .option:active {
    box-shadow: 3px 5px 15px var(--third_color);
}

main > .option > img {
    width: 40%;
    margin: 0.6rem;
}

main > .option > p {
    font-family: var(--title_font);
    font-weight: bold;
    color: var(--first_color);
    font-size: large;
}

.saved-passwords-modal-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.saved-passwords-modal-details p {
    color: #ff0000;
    font-weight: bold;
    margin: 1rem;
}

.saved-accounts-modal-details {
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
    flex-direction: column;
}

.saved-accounts-modal-details p {
    font-weight: bold;
    color: #ff0000;
    margin: 1rem;
}

.authenticator-modal-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.authenticator-modal-details p {
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    margin: 1rem;
}

.account-configs-modal-details {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.account-configs-modal-details img {
    width: 20%;
    margin: 1rem;
    cursor: pointer;
}

.account-configs-modal-details p {
    text-align: center;
    color: var(--second_color);
    font-weight: bold;
    margin: 0.4rem;
    cursor: pointer;
}

.account-configs-modal-details p:hover {
    text-decoration: underline;
}

.help-center-modal-details {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
}

.help-center-modal-details p {
    font-weight: bold;
    color: #ff0000;
    text-align: center;
    margin: 1rem;
}
