:root {
    --first_color: #041b2d;
    --second_color: #0999e0;
    --third_color: #184b81;
    --fourth_color: #fff;
    --title_font: 'Inclusive Sans', sans-serif;
    --body_font: 'Montserrat', sans-serif;
    --button_font: 'Raleway', sans-serif;
}

.modal-header {
    width: 100%;
}

.modal-header h1 {
    text-align: center;
    color: var(--second_color);
    font-size: 1.4em;
    font-weight: lighter;
}

#loader-password-generator {
    width: 50%;
    height: 30%;
    margin: 20% 0%;
    display: none;
}

.password-generator-modal-details {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 1%;
    width: 100%;
    height: 50%;
}

.password-generator-modal-details form {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: left;
    width: 100%;
    height: 100%;
    margin: 0.3%;
}

.password-generator-modal-details > form > label {
    font-weight: lighter;
    color: var(--third_color);
    font-style: italic;
    text-align: left;
    width: 100%;
}

.password-generator-modal-details .check-options {
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: left;
    width: 100%;
    margin: 0.5rem;
}

.password-generator-modal-details .check-options > label {
    color: var(--first_color);
    font-style: italic;
}

.password-generator-modal-details > form > input {
    background-color: transparent;
    border: 1px solid var(--second_color);
    height: 2rem;
    width: 90%;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    color: var(--first_color);
}

.password-generator-modal-details > form > textarea {
    background-color: transparent;
    border: 1px solid var(--second_color);
    height: 2rem;
    width: 90%;
    border-radius: 8px;
    padding: 0.2rem 0.5rem;
    margin: 1rem;
    color: var(--first_color);
}
