:root {
    --first_color: #041b2d;
    --second_color: #0999e0;
    --third_color: #184b81;
    --fourth_color: #fff;
    --title_font: 'Inclusive Sans', sans-serif;
    --body_font: 'Montserrat', sans-serif;
    --button_font: 'Raleway', sans-serif;
}

main > h1 {
    text-align: center;
    color: var(--second_color);
    font-size: 1.4em;
    font-weight: lighter;
}

main > ul {
    padding: 1rem;
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

main li {
    margin-bottom: 1.7rem;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: left;
    flex-direction: column;
}

main > ul > li > p {
    width: 90%;
    text-align: center;
    color: var(--first_color);
    font-weight: lighter;
    font-size: 1.4em;
    text-decoration: underline;
    border-bottom: 1px solid var(--second_color);
}

main .actions {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-top: 0.5rem;
    width: 100%;
}
main .actions > button {
    width: 5rem;
}

hr {
    color: var(--second_color);
    border-style: dotted;
    border: 2px double var(--second_color);
    width: 90%;
}
