main {
    height: 100vh;
}

img#sucess-icon {
    width: 200px;
    height: 200px;
}

p#sucess-message {
    color: #00ff00;
    text-align: center;
    width: 80%;
    margin: 5px;
}

button#sucess-btn {
    width: 10rem;
}
