{% extends 'base.html' %}
{% load static %}
{% block main_content %}
<header class="modal-header">
    <h1>Sua conta</h1>
    <button id="close-modal-account-configs-btn">X</button>
</header>
<img src="{% static 'images/loading-load.gif' %}" alt="Loading Gif" id="loader-account-configs-modal">
<div class="modal-details account-configs-modal-details">
    <img src="{% static 'images/user-icon.png' %}" alt="Foto de perfil do usuário">
    <p>Usuário: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Contas salvas: {{ accounts }}</p>
    <p>Senhas salvas: {{ passwords }}</p>
</div>
{% endblock %}
