{% extends 'base.html' %}
{% load static %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'styles/account-configs.css' %}">
{% endblock %}
{% block main_content %}
<section class="self-header">
    <h1>Sua conta</h1>
    <img src="{% static 'images/user-icon.png' %}" alt="Foto de perfil do usuário">
</section>
<section class="user-datas">
    <p>Usuário: {{ user.username }}</p>
    <p>Email: {{ user.email }}</p>
    <p>Contas salvas: {{ accounts }}</p>
    <p>Senhas salvas: {{ passwords }}</p>
</section>
<section class="actions">
    <p>Acções</p>
    <button>Mudar senha</button>
    <button>Eliminar conta</button>
    <button>Terminar sessão</button>
    <button>Atualizar informações</button>
</section>
{% endblock %}
