<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>ByteLocker</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap-icons@1.11.0/font/bootstrap-icons.css">
</head>
<body>
    <header>
        <div class="logo-side">
            <img src="../byte_locker_app/static/images/bytelockerlogo.png" alt="ByteLocker">
            <h1><section>Byte</section><section>Locker</section></h1>
        </div>
        <div class="search-side">
            <section>
                <i class="bi bi-search"></i>
                <input type="search" name="keys-name" id="keys-id">
            </section>
            <button><i class="bi bi-house-door-fill"></i></button>
        </div>
    </header>
    <main>
        <div class="password-generator">
            <i class="bi bi-arrow-repeat"></i>
            <p>Gerador de senhas</p>
        </div>
        <div class="saved-passwords">
            <i class="bi bi-key-fill"></i>
            <p>Senhas salvas</p>
        </div>
        <div class="saved-accounts">
            <i class="bi bi-person-fill-check"></i>
            <p>Contas salvas</p>
        </div>
        <div class="authenticator">
            <i class="bi bi-shield-lock-fill"></i>
            <p>Autenticação</p>
        </div>
        <div class="account-configs">
            <i class="bi bi-person-circle"></i>
            <p>Definições da conta</p>
        </div>
    </main>
    <footer>
        <p>Copyright &copy; Todos os direitos reservados</p>
    </footer>
</body>
</html>
