{% extends 'base.html' %}
{% load static %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'styles/index.css' %}">
{% endblock %}
{% block main_content %}
<div class="password-generator option">
    <img src="{% static 'images/password-generator.png' %}" alt="Password Generator Button Icon">
    <p>Gerador de senhas</p>
</div>
<div class="saved-passwords option">
    <img src="{% static 'images/saved-accounts.png' %}" alt="Saved Passwords Button Icon">
    <p>Senhas salvas</p>
</div>
<div class="saved-accounts option">
    <img src="{% static 'images/verified-account.png' %}" alt="Saved Accounts Button Icon">
    <p>Contas salvas</p>
</div>
<div class="authenticator option">
    <img src="{% static 'images/two-factor-authentication.png' %}" alt="Two Factor Authentication Button Icon">
    <p>Autenticação</p>
</div>
<div class="account-configs option">
    <img src="{% static 'images/account-settings.png' %}" alt="Account Settings Button Icon">
    <p>Definições da conta</p>
</div>
<div class="help-center option">
    <img src="{% static 'images/support.png' %}" alt="Support">
    <p>Ajuda</p>
</div>
{% endblock %}
{% block js_links %}
<script src="{% static 'js/index-scripts.js' %}"></script>
{% endblock %}
