{% extends 'base.html' %}
{% load static %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'styles/saved-passwd.css' %}">
{% endblock %}
{% block main_content %}
<div class="saved-passwords">
    <h1>Senhas salvas</h1>
    <button id="new_passwd_btn">Nova senha</button>
    <hr>
    <ul>
        {% for data in passwords_datas %}
            <li class="password-datas">
                <p>{{ data.title }} - {{ data.password }}</p>
                <section class="actions">
                    <button>Atualizar</button>
                    <button>Eliminar</button>
                </section>
            </li>
        {% endfor %}
    </ul>
    <hr>
</div>
{% endblock %}
