{% extends 'base.html' %}
{% load static %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'styles/saved-passwd.css' %}">
<link rel="stylesheet" href="{% static 'styles/modals.css' %}">
{% endblock %}
{% block main_content %}
<div class="saved-passwords">
    <h1>Senhas salvas</h1>
    <hr>
    <ul>
        {% for data in passwords_datas %}
            <li class="password-datas">
                <input type="text" value="{{ data.title }} - {{ data.password }}" readonly>
            </li>
        {% endfor %}
    </ul>
    <hr>
    <section class="actions">
        <button class="saved-passwd-action">Atualizar</button>
        <button class="saved-passwd-action">Nova senha</button>
        <button class="saved-passwd-action">Eliminar</button>
    </section>
</div>
{% endblock %}
{% block aside_content %}
<div class="modal" id="new-passwd">
    <section class="modal-header">
        <h1>Nova senha</h1>
        <button class="close-modal-btn">X</button>
    </section>
    <form action="{% url 'save_password_datas' %}" method="post">
        {% csrf_token %}
        <label for="title-input">Título</label>
        <input type="text" name="title-name" id="title-input">
        <label for="passwd-input">Senha</label>
        <input type="text" name="password-name" id="passwd-input">
        <button type="submit">Salvar</button>
    </form>
</div>
<div class="modal" id="password-update">
    <section class="modal-header">
        <h1>Actualização da senha</h1>
        <button class="close-modal-btn">X</button>
    </section>
    <form method="post">
        <label for="password-title">Título</label>
        <input type="text" name="password-title-name" id="password-title">
        <label for="password">Senha</label>
        <input type="text" name="password-name" id="password">
        <button type="submit">Actualizar</button>
    </form>
</div>
<div class="modal" id="password-delete">
    <section class="modal-header">
        <h1>Eliminação de senha</h1>
        <button class="close-modal-btn">X</button>
    </section>
    <p class="description">Tens certeza que pretendes eliminar a sua senha de TITULO?</p>
    <section class="sub-actions">
        <button>Sim</button>
        <button class="close-modal-btn">Não</button>
    </section>
</div>
<script src="{% static 'js/saved-passwd.js' %}"></script>
{% endblock %}
