{% extends 'base.html' %}
{% load static %}
{% block style_links %}
<link rel="stylesheet" href="{% static 'styles/saved-accounts.css' %}">
{% endblock %}
{% block main_content %}
<h1>Contas salvas</h1>
<hr>
<ul>
    {% for data in account_datas %}
        <li>
            <p>{{ data.program_name }}</p>
            <section class="actions">
                <button>Ver detalhes</button>
                <button>Atualizar</button>
                <button>Eliminar</button>
            </section>
        </li>
    {% endfor %}
</ul>
<hr>
<div class="user-account-datas-get action">
    <h1>Informações da conta</h1>
    <p>NOME DO PROGRAMA</p>
    <p>EMAIL</p>
    <p>NOME DE USUÁRIO</p>
    <textarea cols="30" rows="20" readonly>DESCRIÇÃO</textarea>
</div>
<div class="user-account-datas-up action">
    <h1>Actualização das informações da conta</h1>
    <form method="post">
        <label for="program_name">Nome do programa</label>
        <input type="text" name="program-name" id="program_name">
        <label for="email">Email</label>
        <input type="email" name="email-name" id="email">
        <label for="username">Nome de usuário</label>
        <input type="text" name="username-name" id="username">
        <label for="account-description">Descrição</label>
        <textarea name="account-description-name" id="account-description" cols="30" rows="20">DESCRIÇÃO</textarea>
        <button type="submit">Actualizar</button>
    </form>
</div>
<div class="user-account-datas-del action">
    <h1>Eliminação de conta</h1>
    <p>Tens certeza que pretendes eliminar os dados da sua conta em PROGRAMA?</p>
    <div class="actions">
        <button>Sim</button>
        <button>Não</button>
    </div>
</div>
{% endblock %}
